---
import CommentAside from "./CommentAside.astro";
import {comment} from "../consts";
import {getCollectionByName} from "../utils/getCollectionByName";
import getUniqueTags from "../utils/getUniqueTags";
import getCountByCategory from "../utils/getCountByCategory";
import {sortPostsByDate} from "../utils/sortPostsByDate";
import {site} from '../consts'
import {useTranslations, type Lang} from '../i18n/utils'

interface Props { lang?: Lang }
const { lang = 'en' } = Astro.props
const t = useTranslations(lang)
const prefix = lang === 'zh' ? '/zh' : ''

function displayCategory(categoryName: string): string {
  const key = 'category.' + categoryName
  const translated = t(key)
  return translated !== key ? translated : categoryName
}

const blogs = await getCollectionByName('blog', lang)
let tagArr = getUniqueTags(blogs);
let categoryCount = getCountByCategory(blogs);
let sortPosts = await sortPostsByDate(blogs);
let resultPosts = sortPosts.splice(0, site.recentBlogSize);
---

<div>
  {
    Object.keys(categoryCount).length > 0 && (
      <div class="aside-widget">
        <i class="ri-folder-line menu-icon"/>{t('sidebar.categories')}
      </div>
    )
  }
  {
    Object.keys(categoryCount).map((category) => (
      <a
        class="my-1 truncate block hover:text-skin-active"
        title={displayCategory(category) + " (" + categoryCount[category] + ")"}
        href={prefix + "/category/" + category}
      >
        {(category === 'uncategorized' ? t('sidebar.uncategorized') : displayCategory(category)) + " (" + categoryCount[category] + ")"}
      </a>
    ))
  }
</div>
<div>
  {
    tagArr.length > 0 && (
      <div class="aside-widget">
        <i class="ri-price-tag-3-line menu-icon"/>
        {t('sidebar.tags')}
      </div>
    )
  }
  <div class="flex flex-wrap">
    {
      tagArr &&
      tagArr.map((tag) =>
        <a class="inline-block truncate m-1 border p-1 text-sm rounded hover:text-skin-active" title={tag} href={prefix + "/tags/" + tag}>{tag}</a>
      )
    }
  </div>
</div>

<div>
  <div class="aside-widget">
    <i class="ri-file-line menu-icon"></i> {t('sidebar.recentArticle')}
  </div>
  <div class="flex flex-col">
    {
      resultPosts.map((post) => (
        <a
          href={prefix + "/blog/" + post.slug.replace(/^(en|zh)\//, '')}
          class="truncate cursor-pointer mt-1 hover:text-skin-active"
          title={post.data.title}
        >
          {post.data.title}
        </a>
      ))
    }
  </div>
</div>

{comment.enable && comment.type === "waline" && <CommentAside/>}
